@using System

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trx viewer - Page not found</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="padding-top: 100px;">
        <p style="text-align: center;">
            <img src="/Content/img/mmm.jpg" style="width: 300px" />
        </p>
        <p style="text-align: center;">Nothing to see here</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
